// POSTS SHOW

#post-show {
  margin: 0 64px;
  max-width: 671px;
  width: 100%;
}

.header-post {
  padding-top: 48px;
  h1 {
    font-weight: bold;
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: 600;
  }
}

.post-infos > * {
  padding: 4px;
}

.post-content > * {
  margin-top: 2em;
  font-size: 22px;
  font-weight: 300;
}

.post-evaluations {
  display: flex;
  align-items: center;
  img {
    width: 100%;
  }
  a {
    width: 55px;
  }
  a:nth-child(3) {
    margin:0 7px 0 20px;
    width: 30px;
  }
  p {
    font-weight: bold;
    margin: 0;
  }
}

// USER SHOW

.topic-stories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  padding: 24px 0;
  h1 {
    font-weight: bold;
  }
}

.stories-status {
  display: flex;
  > * {
    font-family: $headers-font;
    margin-right: 16px;
    font-size: 18px;
  }
}