#post-show {
  margin: 0 64px;
  max-width: 671px;
  width: 100%;
}

.header-post {
  padding-top: 48px;
  h1 {
    font-weight: bold;
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: 600;
  }
}

.post-infos > * {
  padding: 4px;
}

.post-content > * {
  margin-top: 2em;
  font-size: 22px;
  font-weight: 300;
}

.reviews {
  margin-bottom: 22px;
}

.post-evaluations {
  display: flex;
  a:nth-child(3) {
    margin-left: 12px;
  }
  p {
    margin-left: 6px;
    font-weight: bold;
  }
}

// TEST SIDEBAR

.sidebar-post {
  width: 100%; 
  position: fixed; 
  top: 0;
  transition: opacity 200ms;
  transform: translateY(86px);
}

.container-sidebar {
  margin: 0 64px;
  min-width: 0;
  max-width: 1336px;
  width: 100%;
}