#post-show {
  margin: 0 64px;
  max-width: 671px;
  width: 100%;
}

.header-post {
  padding-top: 48px;
  h1 {
    font-weight: bold;
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: 600;
  }
}

.post-infos > * {
  padding: 4px;
}

.post-content > * {
  margin-top: 2em;
  font-size: 22px;
  font-weight: 300;
}

.reviews {
  margin-bottom: 22px;
}

.post-evaluations {
  display: flex;
  align-items: center;
  img {
    width: 100%;
  }
  a {
    width: 55px;
  }
  a:nth-child(3) {
    margin:0 7px 0 20px;
    width: 30px;
  }
  p {
    font-weight: bold;
    margin: 0;
  }
}
