.footer-index {
  padding: 24px 0;
  display: flex;
  flex-wrap: wrap;
  a {
    margin-right: 26px;
    margin-bottom: 8px;
    color: rgba(117, 117, 117, 1);
    line-height: 20px;
    font-size: 14px;
  }
}