.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 86px;
  border-radius: 3px;
  box-shadow: 2px 1px 6px rgba(0,0,0,0.2);

  h2 {
    font-weight: bold;
    text-align: center;
    margin: 15px 0;
    background-color: #eae8e8;
    font-size: 30px;
    margin: 30px 21px;
  }
}