// Sidebar Post

.sidebar-post {
  width: 100%; 
  position: fixed; 
  top: 0;
  pointer-events: none;
}

.container-sidebar {
  margin: 0 64px;
  min-width: 0;
  max-width: 1400px;
  width: 100%;
  height: 480px;
}

.wrapper-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 250px;
  height: 100%;
  pointer-events: auto;
}

.user-infos {
  display: flex;
  flex-direction: column;
  h3 {
    font-weight: bold;
  }
  a {
    width: 64px;
    margin-top: 6px;
  }
}

.user-follow {
  display: flex;
  flex-direction: column;
  span {
    margin-bottom: 8px;
  }
}

.slide-in {
  opacity: 0;
  transform: translateY(86px);
  transition: all .5s;
}

.slide-in.active {
  opacity: 1;
}

@media (max-width: 1400px) {
  .sidebar-post {
    display: none;
  }
}

// Sidebar Reviews

.sidebar-reviews {
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1) 0s, opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  left: 100%;
  background-color: #fff;
  width: 541px;
  top: 0;
  height: 100%;
  position: fixed;
  z-index: 20;
}

.sidebar-reviews.active {
  opacity: 1;
  transform: translateX(-541px);
}

// @media (max-width: 500px) {
//   .sidebar-reviews {
//     transform: translateY(100%);
//   }
// }

.container-hidden {
  opacity: 0;
}

.container-hidden.active {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(183,183,183,0.5);
  pointer-events: all;
  cursor: pointer;
  opacity: 1;
  z-index: 10;
}

.reviews-header {
  display: flex;
  justify-content: space-between;
  padding: 26px;
  align-items: center;
  h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
}

#review_body {
  width: 92%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  background-color: white;
  border-radius: 2px;
  border: none;
}

#new_review {
  margin-left: 40px;
}

.reviews {
  margin-top: 22px;
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
  }
}

.reviews-display {
  width: 86%;
  margin-left: 40px;
  p {
    margin: 1rem 0;
  }
}